@media screen and (max-width:576px){
    body{
        width: 100%;
        margin: 0 auto;
        

    }
    .display{
        display: inline;
    }
    .mres{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
        margin: 0 auto;
    }
    .web-head{
      display: none;
    }
    .for-mobile{
        list-style: none;
    }
    .for-mobile ul li a{
        text-decoration: none;
    }
    .mres h3{
        font-size: 1rem;
        font-weight: bold;
        
    }
    .banner-section{
    flex-direction: column-reverse;
    margin-top: 50px;
    
    text-align: center;
   
    
    
}
.banner-section h1{
    margin-top: 60px;
}
.btn{
    margin: 0 auto;
}
.banner-img{
    width: 90%;
}
.logo{
    
    /* grid-template-columns: repeat(4,1fr) ;
    grid-template-rows: repeat(3,1fr); */
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    border: none;
    
    
    
}
.dada{
   
   grid-template-columns: repeat(1 ,1fr);
   gap: 20px;
}

.card-abba{
    
    
    width: 100%;
    height: 100%;
    
}

    
}
@media screen and (min-width:576px) and (max-width:992px){
    .logo{
    
    /* grid-template-columns: repeat(4,1fr) ;
    grid-template-rows: repeat(3,1fr); */
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    border: none;
    
    
    
    
}
}
