@media screen and (max-width:576px){
    body{
        width: 100%;
        margin: 0 auto;
        

    }
    .display{
        display: inline;
    }
    .mres{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
        margin: 0 auto;
    }
    .web-head{
      display: none;
    }
    .for-mobile{
        list-style: none;
    }
    .for-mobile ul li a{
        text-decoration: none;
    }
    .mres h3{
        font-size: 1rem;
        font-weight: bold;
        
    }

    
}