
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared css */
.color, ul, li,a{
    color: #3A3A3A;
}
.size{
  max-width: 1440px;
  width: 87%;
  margin: 0 auto;
  padding-top: 20px;
}
.display{
    display: none;
}
.nav-bar{
    list-style: none;
}
.nav-bar a{
    text-decoration: none;
}
.nav-bar{
    display: flex;
    gap: 30px;
    
}
.nav-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-heading{
    font-size: 1.7rem;
    font-weight: bold;
}
.nav-links,a{
    font-size: 16px;
    font-weight:bold;
}
.banner-heading {
    font-size: 2.5rem;
    font-weight: bold;
}
.banner-p{
    font-size: 1rem;
    font-weight: 600;

}
.btn{
    color: #FFFFFF;
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}
.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.banner-img{
    background-image: url("images/Circle\ design.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.logo{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 80px;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid #e0dddd;
    padding: 20px;
    border-radius: 10px;
    
}
.card-abba{
    padding: 20px;
    /* border: 1px solid black; */
    width: 320px;
    height: auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.card-img{
    width: 100%;
    
    
}

.card-heading{
    font-size: 1.5rem;
    
}
.card-price{
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.87);
    
}
.card-abba a{
    text-decoration: none;
}
.dada{
   display: grid;
   grid-template-columns: repeat(3 ,1fr);
   gap: 20px;
}
